<title> <%= Title %> </title>
<div class="container">
  <%- typeof admins %>
  <%- typeof method %>
  <% if( method  === 'POST' ) { %>
    <h3>Doctors available in your area are as follows...</h3>
 
    <% if( admins.length === 0 ) {%> 
      <h5>There are no doctors in your area registered on this platform . <b>Sorry!</b></h5>
    <% } else { %> 
      <ul class="list-group">
        <% admins.forEach(admin => { %>
          <a href="/user/getAppointment/<%= admin._id %> "> <li><%= admin.name %> </li></a>
        <% }); %>
      </ul>
    <% } %>

  <% } %> 

    <% if(method == 'GET') { %> 

      <form action='/user/getAppointment' method="POST" class="row g-3" id="getAppointmentForm">

        <% if(typeof admins != 'undefined') {%> 
          <div class="container-fluid">
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select required name="inputState" id="inputState" class="form-select">
                <option value="" > --Please choose an option--</option>
                  <% admins.forEach(admin =>{ %> 
                  <option selected><%= admin.address.state %></option>
                  <% }); %>   
                </select>
              </div>
          </div> 
          <div class="container-fluid">
            <div class="col-md-4">
              <label for="inputDistrict" class="form-label">District</label>
              <select required name="inputDistrict" id="inputDistrict" class="form-select">
                <option value="" > --Please choose an option--</option>
                  <% admins.forEach(admin =>{ %> 
                  <option selected><%= admin.address.district %></option>
                  <% }); %>   
                </select>
              </div>
          </div>
          <div class="container-fluid">
            <div class="col-md-4">
              <label for="inputTaluka" class="form-label">Taluka</label>
              <select required name="inputTaluka" id="inputTaluka" class="form-select">
                <option value="" > --Please choose an option--</option>
                  <% admins.forEach(admin =>{ %> 
                  <option selected><%= admin.address.taluka %></option>
                  <% }); %>   
                </select>
              </div>
          </div>
          <div class="container-fluid">
            <div class="col-md-4">
              <label for="inputLandmark" class="form-label">Landmark</label>
              <select required name="inputLandmark" id="inputLandmark" class="form-select">
                <option value="" > --Please choose an option--</option>
                <% admins.forEach(admin =>{ %> 
                <option value='<%= admin.address.landmark.replace(' ', '$') %>' ><%= admin.address.landmark %></option>
                <% }); %>   
                </select>
              </div>
          </div>
        <% } %> 
    
    
        <div class="col-12">
        <button type="submit" class="btn btn-secondary">Get Appointment</button>
        </div>
      </form>

    <% } %> 

</div>
